@import "_minix.scss";
@import "common.scss";

*{
    padding: 0;
    list-style: none;
    margin: 0;
    text-decoration: none;
    @include sizing;
}
body,html{
    width: 100%;
    height: 100%;
}
.box{
      width: 100%;
    height: 100%;
    // background: pink;
    @include box-flex;
    @include direction(column);

    header{
         width: 100%;
    height: pxTorem(40px);
    // background: yellow;
    @include box-flex;

    p{
        color: black;
        font-size: pxTorem(18px);
        margin-left: pxTorem(15px);
        margin-top: pxTorem(10px);
    }
    }

    section{
      @include flex;
      overflow: auto;
      background: yellow;

    //   div:nth-child(1){

    //   }







    }

    footer{
         width: 100%;
   height: pxTorem(40px);
    // background: blue;
    @include box-flex;
    @include justify(space-around);

    img{
        width: pxTorem(20px);
    }
    }
}